*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.712);
}

/* Estilos gerais */

.container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(108,227,222,1) 0%, rgba(0,185,255,1) 100%); width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    padding: 50px 0;
}

.nav-container{
    width: 100%;
    
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li{
    transition: .3s;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    border: .3px solid black;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

nav ul li:hover{
    transform: scale(1.1);
    color: rgba(0, 0, 0, 0.781);
}

.title{
    padding: 30px 0;
}



/* página de cadastro */

#produto-form{
    display: flex;
    flex-direction: column;

}

#produto-form div{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#produto-form div input{
    margin-left: 20px;
}

#produto-form button{
    margin: 10px 0;
    width: 70px;
    align-self: center;
}



/* Página de alteração */

#table-container{
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}
  
table, th, td {
    border: 1px solid #000000;
 }
  
th, td {
    padding: 10px;
    text-align: left;
}

#modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

#edit-form{
    display: flex;
    flex-direction: column;
}

#edit-form input{
    margin: 5px 0;
}

#edit-form button{
    width: 80px;
    align-self: center;
    margin-top: 5px;
}

